<div class="row">
  <article class="col-xs-6 server-cockpit card">
    <h2 class="card-header">Create New Server</h2>
    <section class="card-body">
      <p class="card-text">Enter details and click appropriate button to add new server or server blueprint</p>
      <hr />
      <form>
        <div class="mb-3">
          <label for="server-name" class="form-label">Server name</label>
          <input id="server-name" type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="server-desc" class="form-label">Server description</label>
          <input id="server-desc" type="text" class="form-control" />
        </div>
        <hr />
        <section class="btn-group">
          <button class="btn btn-primary">Add server</button>
          <button class="btn btn-secondary">Add server blueprint</button>
        </section>
      </form>
    </section>
  </article>
</div>
