<section class="container card">
  <app-server *ngFor="let server of serverList"></app-server>
  <p *ngIf="serverCreationStatus; else noServer"> Server ({{ serverName }}) was created </p>
  <ng-template #noServer><p> No server was created </p></ng-template>
  <label class="form-label">Server name:</label>
  <input class="form-control" [(ngModel)]="serverName" />
  <p class="text-info">{{ serverName }}</p>
  <button class="btn btn-primary" [disabled]="!isNewServerAllowed" (click)="onCreateServer()">Add server</button>
</section>
