<article *ngIf="recipe">
  <section class="row">
    <div class="col-xs-12">
      <img class="img-thumbnail" [src]="recipe.imagePath" alt="">
    </div>
  </section>
  <section class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
      <p>{{ recipe.description }}</p>
    </div>
  </section>
  <section class="row">
    <div class="col-xs-12">
      <h2>Ingredients:</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.name }} | {{ingredient.amount }}{{ ingredient.unit }}
        </li>
      </ul>
    </div>
  </section>
  <hr />
  <section class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle show" appDropdown id="menageRecipeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage recipe
          </button>
          <ul class="dropdown-menu" aria-labelledby="menageRecipeDropdown">
            <li class="dropdown-item"><a class="btn btn-link" (click)="onAddToShoppingList()">Add Ingredients to Shopping List</a></li>
            <li class="dropdown-item"><a class="btn btn-link" (click)="onEditRecipe()">Edit Recipe</a></li>
            <li class="dropdown-item"><a class="btn btn-link" (click)="onDeleteRecipe()">Delete Recipe</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</article>
