<section class="card" *ngIf="account">
  <h2 class="card-header"> {{ account.name }} </h2>
  <section class="card-body">
    <p> This account is <strong> {{ account.status }} </strong> </p>
    <section class="btn-group">
      <button class="btn btn-success" (click)="onChangeStatus('active', id)">Set to ACTIVE</button>
      <button class="btn btn-danger" (click)="onChangeStatus('inactive', id)">Set to INACTIVE</button>
      <button class="btn btn-info" (click)="onChangeStatus('unknown', id)">Set to UNKNOWN</button>
    </section>
  </section>
</section>
