<article class="password-toggle card">
  <section class="card-body">

    <h5 class="card-title">Your password</h5>
    <p class="card-text">Click the button below to toggle the visibility of your password</p>

    <h2 class="text-black" *ngIf="isPasswordVisible; else passwordHidden">Secret password: <strong>tuna</strong></h2>
    <ng-template #passwordHidden>
      <h2 class="text-black">Secret password: <strong>****</strong></h2>
    </ng-template>
    <section class="btn-group">
      <button class="btn btn-primary" (click)="onTogglePassword()"> {{ togglePasswordMessage }} </button>
      <button class="btn btn-danger" (click)="onReset()"> Reset logs </button>
    </section>
    <hr />

    <article *ngFor="let click of clickList; index as i">
      <section
        class="alert alert-primary"
        [ngStyle]="{ color: i >= 5 ? getColor() : 'black' }"
        [ngClass]="{ 'alert-danger': i >= 5 }"
      >
        {{ click }}: Password visibility toggled
      </section>
    </article>

  </section>
</article>
