<article class="password-toggle card">
  <section class="card-body">
    <h5 class="card-title">Your password</h5>
    <p class="card-text">Click the button below to toggle the visibility of your password</p>

    <h2 class="text-black" *ngIf="isPasswordVisible; else passwordHidden">Secret password: <strong>tuna</strong></h2>
    <ng-template #passwordHidden>
      <h2 class="text-black">Secret password: <strong>****</strong></h2>
    </ng-template>
    <button class="btn btn-primary" (click)="onTogglePassword()"> {{ togglePasswordMessage }} </button>
  </section>
</article>
