<article class="card">
  <section class="row">
    <div class="col-xs-12 btn-group">
      <button class="btn btn-primary">Start game</button>
      <button class="btn btn-danger">Pause game</button>
    </div>
  </section>
  <section class="row">
    <h1 class="fw-bolder text-center">0</h1>
  </section>
  <section class="row">
    <div class="col card">
      <app-odd-number></app-odd-number>
    </div>
    <div class="col card">
      <app-even-number></app-even-number>
    </div>
  </section>
</article>
