<section class="card">
  <h1 class="card-header">Add new account</h1>
  <section class="card-body">
    <p>Enter the account details below and click <strong>Add</strong> button</p>
    <label for="account-name" class="form-label">Account name</label>
    <input type="text" id="account-name" class="form-control" />
    <label for="account-status" class="form-label">Account status</label>
    <select id="account-status" name="account-status" class="form-select">
      <option value="active" selected> Active </option>
      <option value="inactive"> Inactive </option>
      <option value="unknown"> Unknown </option>
    </select>
  </section>
</section>
