<div class="container">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="filteredStatus">
            <hr />
            <ul class="list-group">
                <li class="list-group-item"
                    *ngFor="let server of servers | filter: filteredStatus: 'status'"
                    [ngClass]="getStatusClasses(server)">
                    <span class="badge bg-secondary rounded-pill position-absolute end-0"> {{ server.status }} </span>
                    <strong>{{ server.name | shorten:15 }}</strong> | {{ server.instanceType | uppercase }} | {{ server.started | date: "fullDate" | uppercase }}
                </li>
            </ul>
        </div>
    </div>
</div>
