<!--<app-header></app-header>-->
<!--<main class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <app-recipe-book></app-recipe-book>-->
<!--      <app-shopping-list></app-shopping-list>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->

<main class="container">
  <app-game-control (valueChange)="onValueChange($event)"></app-game-control>
  <section class="row">
    <div class="col card">
      <h1 class="text-center text-uppercase">Even numbers</h1>
      <hr />
      <div class="flex-row">
        <app-even-number *ngFor="let even of evenNumbers" [number]="even"></app-even-number>
      </div>
    </div>
    <div class="col card">
      <h1 class="text-center text-uppercase">Odd numbers</h1>
      <hr />
      <div class="flex-row align-content-stretch">
        <app-odd-number *ngFor="let odd of oddNumbers" [number]="odd"></app-odd-number>
      </div>
    </div>
  </section>
</main>
