<section class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddIngredient()" #addIngredientForm="ngForm">
      <section class="row">
        <div class="input-group">
          <div class="col-sm-6">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" ngModel required>
          </div>
          <div class="col-sm-3">
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" class="form-control" ngModel required min="1">
          </div>
          <div class="col-sm-3">
            <label for="unit">Unit</label>
            <input type="text" id="unit" name="unit" class="form-control" ngModel>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="col-xs-12 btn-group" role="group">
          <button class="btn btn-success" type="submit" [disabled]="!addIngredientForm.valid">{{ editMode ? "Update" : "Add" }}</button>
          <button class="btn btn-danger" type="button" (click)="onDeleteIngredient()" [disabled]="!editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="resetForm()">Clear</button>
        </div>
      </section>
    </form>
  </div>
</section>
